main .accordion-item__trigger {
    border-radius: 0;
    font-size: var(--body-font-size-s);
    margin: 6px 0;
    padding-left: 12px;
    text-align: left;
    width: 100%;
}

main .accordion-item__content {
    display: none;
    font-size: var(--body-font-size-xs);
    background-color: red;
}

main .accordion-item--active .accordion-item__content{
    display: flex;
}

main .accordion-item--active .accordion-item__trigger {
    background-color: var(--link-hover-color);
}
